:root{
    --accent: #4659ff;
    --backgroundColor: #efedf3;
    --textColor: #000000;
}

body{
    background-color: var(--backgroundColor); 
    font-size: 22px;
}


.container{
    max-width: 1080px;
    margin: 0 auto;
}



.post{

    border: 1px solid black;
    margin-bottom: 1em;
    padding: .5em 1em;

    .img-container{
        background-color: rgb(255, 80, 237);
        aspect-ratio:  3/2;
    
    
    }

    img{
        width: 100%;
        height: auto;
        display: block;

    }

}


/* Lab 3 Styles*/

.hide-me{
    display: none;

}

.block-div, .block{
    display: block;
    color: coral;
    border: 1px solid var(--accent);
    padding: 1em;




}

.inline-block{
    display: inline-block;
    text-transform: uppercase;
    padding: 0.2em 0.8em;
    background-color: pink !important;
    color: coral;
    transform: rotate(-8deg);
    font-weight: 800;
}

.inline{
    display: inline;
}
.static{
    position: static;
    border: 1px solid red;
}

.fixed{
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 200px;
    padding: 1em;
    background-color: blue;
    border: 1px solid rgb(134, 64, 172);

    border-radius: 3em;

    z-index: 999;

}

.relative{
    position: relative;
    left:1em;
    width: calc(100% - 1em);
    border: 3px solid rgb(85, 206, 164);


}

.absolute-bubble{
    position: relative;
    border: 3px solid green;
    width: 100%;
    margin-bottom: 1em;
    aspect-ratio: 4/3;

}

.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50px;
    transform: translate(-50%, -50%);


}


.sticky-bubble{
    /*position: sticky;*/
    overflow: scroll;
    position: relative;
    border: 3px solid green;
    width: 100%;
    margin-bottom: 1em;
    height: 200px;

    p {
        margin: 1em;
    }


}

.sticky-bit{

    background-color: coral;
    position: sticky;
    top: 0;
    padding:1em;
}
.float-demo-holder{
    border: 1px solid green;
    padding: 0 1em;
    margin-bottom: 1em;

    .img-right{
        width:15em;
        height:auto;
        float: right;
        margin: 1em 0 1em 1em;

    }
    .img-left{
        width:15em;
        height:auto;
        float: left;
        margin: 1em 1em 1em 0;
        
    }

}

.colDemo{
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;

    .col{
        width: calc(100%/3 - 2rem);
        aspect-ratio: 1;
        float:left;
        padding:1rem;
        font-size: 2em;
        font-weight:100;
        font-size:italic;
        background-color: #4659ff;
        &:nth-child(even){
            background-color: aqua;

        }
    
    }
}



